<script src="https://cdn.tiny.cloud/1/js43tskjb05nnemckesotop4v2jlssyebski80gpez6g5kw4/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea.editable',

    });
</script>

<section class="menu cid-s48OLK6784" once="menu" id="menu1-h">

    <nav class="navbar navbar-fixed-top navbar-dropdown navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="../views/assets/images/logo.png" alt="Mobirise" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7"
                        href="/"><%= employer.company_name %></a></span>
            </div>
            <button class="navbar-toggler  first-button" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <div class="hamburger animated-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav nav-dropdown nav-right" data-app-modern-menu="true" id="pills-tab"
                    role="tablist">
                    <!-- <li class="nav-item">

                        <a class="navbar-brand nav-link link text-black display-4"
                            id="pills-addjob-tab"><%= employer.company_name %></a>

                    </li> -->
                    <li class="nav-item">

                        <a class="navbar-brand nav-link active link text-black display-4" id="pills-home-tab"
                            data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home">Home</a>

                    </li>
                    <li class="nav-item">

                        <a class="navbar-brand nav-link link text-black display-4" id="pills-addjob-tab"
                            data-toggle="pill" href="#pills-addjob" role="tab" aria-controls="pills-addjob">Add Job</a>

                    </li>

                    <li class="nav-item">

                        <a class="navbar-brand nav-link link text-black display-4" id="pills-viewjobs-tab"
                            data-toggle="pill" href="#pills-viewjobs" role="tab" aria-controls="pills-viewjobs">View
                            Jobs</a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link link text-black display-4" id="pills-logout-tab" href="/logout" role="tab"
                            aria-controls="pills-logout">Log Out</a>

                    </li>
                </ul>

            </div>
        </div>
    </nav>

</section>

<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class=" container " style=" position: absolute;
                margin: 0 auto;
                margin-top: 45px;
                padding-bottom: 10px;
                top: 0;          
               ">
        <div class="row justify-content-center">
            <div class="col">
                <div class="tab-content" id="pills-tabContent">
                    <%- include ('./partials/messages'); -%>
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <p class="mbr-text text-left mbr-fonts-style display-7">
                            <strong><%= employer.company_name %></strong>, Welcome to your dashboard.
                            <br> 
                            <hr> 
                            * New job? Click on "Add Job" Tab.
                            <br> 
                            * To see your listings, click on "View Jobs" Tab.
                        </p>
                        <!-- <div class="mbr-section-btn mt-3"><a class="btn btn-success display-4" href="#pills-addjob"
                                id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-addjob">New
                                job?</a>
                        </div> -->
                    </div>

                    <div class="tab-pane fade show " id="pills-addjob" role="tabpanel"
                        aria-labelledby="pills-addjob-tab">

                        <form action="/employer/post_job" method="POST">

                            <div class="row">
                                <div class="col-sm">
                                    <input type="text" class="form-control" id="job_title" name="job_title"
                                        placeholder="Job Title"
                                        value="<%= typeof job_title != 'undefined' ? job_title : '' %>">
                                </div>
                                <div class="col-sm">
                                    <input type="text" class="form-control" id="job_type" name="job_type"
                                        placeholder="Job Type"
                                        value="<%= typeof job_type!= 'undefined' ? job_type : '' %>">
                                </div>
                                <div class="col-sm">
                                    <input type=" text" class="form-control" id=" job_category" name="job_category"
                                    placeholder="Job Category"
                                    value="<%= typeof job_category != 'undefined' ? job_category : '' %>">
                                </div>
                                <div class="col-sm">
                                    <input type="text" class="form-control" id="job_locations" name="job_locations"
                                        placeholder="Location(s)"
                                        value="<%= typeof job_locations != 'undefined' ? job_locations : '' %>">
                                </div>
                                <div class="col-sm md-form md-outline input-with-post-icon "
                                    style=" margin: 0 auto;  height: 50px;">

                                    <input placeholder="Application Deadline" type="date" id="job_deadline"
                                        name="job_deadline"
                                        value="<%= typeof job_deadline!= 'undefined' ? job_deadline : '' %>"
                                        class="col-sm display-7"
                                        style=" background-color: rgba(255, 0, 0, 0.027); height: 50px;">
                                    <label for="job_deadline" class="display-7">  Deadline</label>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <!-- <label for="job_description">Job Description</label> -->
                                <textarea class="form-control editable" id="job_description" name="job_description"
                                    rows="10"
                                    placeholder="Job Description"><%= typeof job_description!= 'undefined' ? job_description : '' %></textarea>
                            </div>

                            <div class="form-group">
                                <!-- <label for="job_requirements">Job Requirements</label> -->
                                <textarea class="form-control editable" id="job_requirements" name="job_requirements"
                                    rows="10"
                                    placeholder="Job Requirements"><%= typeof job_requirements != 'undefined' ? job_requirements : '' %></textarea>
                            </div>

                            <div class="form-group">

                                <textarea class="form-control " id="job_keywords" name="job_keywords" rows="1"
                                    placeholder="Enter Keywords"><%= typeof job_keywords != 'undefined' ? job_keywords : '' %></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary ">
                                <span>Post Job</span>
                            </button>
                        </form>
                    </div>
                    <div class="tab-pane fade show" id="pills-viewjobs" role="tabpanel"
                        aria-labelledby="pills-viewjobs-tab">
                        <div class="list-group">
                            <%- include ('./partials/jobs'); -%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>