<script src="https://cdn.tiny.cloud/1/js43tskjb05nnemckesotop4v2jlssyebski80gpez6g5kw4/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',

    });
</script>

<section class="menu cid-s48OLK6784" once="menu" id="menu1-h">

    <nav class="navbar  navbar-fixed-top navbar-dropdown navbar-expand-lg" >
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="../views/assets/images/logo.png" alt="Mobirise" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7"
                        href="/"><%= jobseeker.fullname %></a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav  nav-dropdown nav-right" data-app-modern-menu="true" id="pills-tab"
                    role="tablist">


                    <li class="nav-item">
                        <a class="navbar-brand nav-link link text-black display-4 active" id="pills-home-tab"
                            data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                            aria-selected="true">Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand nav-link link text-black display-4 " id="pills-updateresume-tab"
                            data-toggle="pill" href="#pills-updateresume" role="tab" aria-controls="pills-updateresume"
                            aria-selected="true">Add Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand nav-link link text-black display-4" id="pills-viewjobs-tab"
                            data-toggle="pill" href="#pills-viewjobs" role="tab" aria-controls="pills-viewjobs"
                            aria-selected="false"> Suggested Jobs</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="navbar-brand nav-link link text-black display-4" id="pills-applications-tab" data-toggle="pill" href="#pills-applications" role="tab"
                            aria-controls="pills-applications" aria-selected="false"> Job Applications</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="navbar-brand nav-link link text-black display-4" id="pills-logout-tab" href="/logout"
                            role="tab" aria-controls="pills-logout" aria-selected="false">Log Out</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
   
</section>

<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class=" container " style=" position: absolute;
                margin: 0 auto;
                margin-top: 45px;
                padding-bottom: 10px;
                top: 0;          
               ">
        <div class="row justify-content-center">
            <div class="col col-lg-10">

                <%- include ('./partials/messages'); -%>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                        <p class="mbr-text mbr-fonts-style display-7"><strong><%= jobseeker.fullname %></strong>,
                            Welcome to your dashboard.
                            <br> 
                            <hr> 
                            * Update resume by clicking on "Add Resume" Tab.
                            <br> 
                            * To see your job recommendations, click on "Suggested Jobs" Tab.
                        </p>

                    </div>

                    <div class="tab-pane fade show" id="pills-updateresume" role="tabpanel"
                        aria-labelledby="pills-updateresume-tab">

                        <form action="/jobseeker/submit_resume" method="POST" enctype="multipart/form-data"
                            class="form">

                            <div class="form-group">
                                <label for="resume_content">Resume Content</label>
                                <textarea class="form-control" id="resume_content" name="resume_content" rows="10"
                                    placeholder="Paste Resume"><%= typeof resume_content!= 'undefined' ? resume_content : '' %></textarea>
                            </div>

                            <div class="input-group  ">
                                <div class="custom-file ">
                                    <label class="custom-file-label display-4" for="resumefile"></label>
                                    <input type="file" class="custom-file-input display-4" id="resumefile"
                                        name="resumefile" value="" aria-describedby="inputGroupFileAddon04">

                                </div>

                            </div>
                            <br>
                            <div class="">

                                <button class="mbr-section-btn btn btn-success display-4" type="submit">Upload</button>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade show" id="pills-viewjobs" role="tabpanel" aria-labelledby="pills-viewjobs-tab">
                        <div class="list-group">

                            <%- include ('./partials/jobrecommendations'); -%>

                        </div>
                    </div>
                    <!-- <div class="tab-pane fade show" id="pills-applications" role="tabpanel"
                        aria-labelledby="pills-applications-tab">
                        <div class="list-group">

                            

                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>