
<h1 class="mt-4">ResumeScheme </h1>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="navbar-brand" id="pills-updateresume-tab"><%= jobseeker.fullname %></a>
    </li>
    <li class="nav-item">
        <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Home</a>

    </li>
    <li class="nav-item">
        <a class="nav-link active" id="pills-updateresume-tab" data-toggle="pill" href="#pills-updateresume" role="tab"
            aria-controls="pills-updateresume" aria-selected="true">Add Resume</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-viewjobs-tab" data-toggle="pill" href="#pills-viewjobs" role="tab"
            aria-controls="pills-viewjobs" aria-selected="false"> Suggested Jobs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-applications-tab" data-toggle="pill" href="#pills-applications" role="tab"
            aria-controls="pills-applications" aria-selected="false"> Job Applications</a>
    </li>

    <li class="nav-item">
        <a class=" btn btn-block nav-link" id="pills-logout-tab" href="/logout" role="tab" aria-controls="pills-logout"
            aria-selected="false">Log Out</a>
    </li>
</ul>
<%- include ('./partials/messages'); -%>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    </div>
    <div class="tab-pane fade show active" id="pills-updateresume" role="tabpanel"
        aria-labelledby="pills-updateresume-tab">

        <form action="/jobseeker/submit_resume" method="POST" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="resume_content">Resume Content</label>
                <textarea class="form-control" id="resume_content" name="resume_content" rows="10"
                    placeholder="Paste Resume"><%= typeof resume_content!= 'undefined' ? resume_content : '' %></textarea>
            </div>


            <div class="input-group">
                <div class="custom-file">
                    <label class="custom-file-label" for="resumefile"></label>
                    <input type="file" class="custom-file-input" id="resumefile" name="resumefile" value=""
                        aria-describedby="inputGroupFileAddon04">
                    
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
                </div>
            </div>


        </form>
    </div>
    <div class="tab-pane fade" id="pills-viewjobs" role="tabpanel" aria-labelledby="pills-viewjobs-tab">
        <div class="list-group" style="
        max-height: 800px; 
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
        ">

        <%- include ('./partials/jobrecommendations'); -%>

        </div>
    </div>
    <div class="tab-pane fade" id="pills-applications" role="tabpanel" aria-labelledby="pills-applications-tab">
        <div class="list-group" style="
        max-height: 800px; 
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
        ">

            <%- include ('./partials/applications'); -%>

        </div>
    </div>
</div>