<%let index = 0; if(typeof jobs != 'undefined'){ %> <% jobs.forEach(function(job) { %>
<div class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class=" mbr-text mbr-fonts-style display-7">  <strong><%= job.job_title %> </strong> </h5>
        <a href="#">
            <small data-toggle="modal" data-target="#exampleModal<%= index%>">
                <%= job.job_applicants.length %>
                Applicants
            </small>
        </a>
    </div>
    <small class="display-7"><strong><%= job.job_type %></strong></small>
    <p class="mb-1  mbr-fonts-style display-7" ><%= job.job_requirements %></p>
    <!-- <div class="row">
        <a class="btn " href="#">Edit</a>
        <a class="btn " href="#">Delete</a>
    </div> -->
</div>

<div class="modal fade display-7" id="exampleModal<%= index%>" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true"  style="margin-top: 150px; height: 400px;" role="document">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mbr-text mbr-fonts-style " id="exampleModalLabel"><%= job.job_title  %> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="card-subtitle mb-2 text-muted">Applicants</h6>
                <ul class="list-group">
                    <% job.job_applicants.forEach(applicant => { %>
                    <li class="list-group-item d-flex  align-items-center">
                        <div class=""><%= applicant.email %> </div>
                                                 
                        <span class="badge badge-primary badge-pill"><%= parseInt(applicant.match * 100) %>% Match</span>

                        <div class="btn-group justify-content-right" role="group" aria-label="Basic example" style=" position: absolute; right: 10px;">
                            
                            <a type="button" class="btn "
                                href="/resumes/<%= applicant.email %>/download"> <i class="fas fa-cloud-download-alt"></i>  Resume</a>
                            <!-- <button type="button" class="btn ">Favorite</button> -->
                        </div>
                    </li>
                    <%});%>
                </ul>

            </div>
            <div class="modal-footer">
                <!-- <a href="#" class="card-link btn btn-primary">Edit</a>
                <a href="#" class="card-link btn btn-secondary">Save</a> -->
            </div>
        </div>
    </div>
</div>
<% index++; %>
<% }); %> <% } %>